@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');

*{
	text-transform: capitalize;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	padding: 0;
	margin: 0;
}
i{
	padding-right: 10px;
}

.text-primary {
	color: #FD6E0A;
	transition: .5s cubic-bezier(.45,.05,.55,.95);
	text-transform: uppercase;
}
p {
	font-weight: 400;
	font-size: 18px;
	color: #757575;
}
h3 {
	font-weight: 700;
	font-size: 35px;
	margin-bottom: 30px;
}
.btn-primary {
	height: 64px;
	background: #FD6E0A;
	border-radius: 5px;
	border: none;
	padding: 0 35px;
	font-weight: 700;
	font-size: 20px;
	line-height: 27px;
	color: #FFF;
	margin-right: 7px;
	cursor: pointer;

}
.extra-btn {
	background: #FFF;
	border: 1px solid #FD6E0A;
	color: #FD6E0A;
}

/*    Header and navbar styles	  */
.header {
	background: #FFF8F3 url('../images/header_bg.png') no-repeat;
	background-position: bottom right;
	position: relative;
}
.header::before {
	content: 'swordsman';
	color: rgba(24, 24, 24, 0.15);
	font-weight: 700;
	font-size: 70px;
	text-transform: uppercase;
	transform: rotate(-90deg);
	letter-spacing: 0.25em;
	position: absolute;
	left: -14%;
	top: 3.8em;
}
.inner {
	padding: 50px 200px 0;
}
.nav-title {
	font-style: normal;
	font-weight: 800;
	font-size: 45px;
	margin-right: auto;
}
nav ul{
	list-style: none;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
nav ul li {
	padding: 0 25px;
	position: relative;
}
nav ul li a {
	color: #474747;
	text-decoration: none;
	text-transform: uppercase;
}
/*     Style for banner    */
.banner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 100px;
}
.banner .intro {
	font-weight: 600;
	font-size: 45px;
	color: #474747;
}
.banner .banner-text {
	width: 62%;
	margin: 0 0 4em 0;
}
.banner .name {
	font-weight: 700;
	font-size: 77px;
	color: #181818;
}
.banner .description {
	font-weight: 400;
	font-size: 18px;
	color: #757575;
	margin: 20px 0;
}
.banner img {
	height: 423px;
	position: absolute;
	right: 6%;
	bottom: 0;
}

/*    Main section design   */

.about-me {
	width: 85%;
	margin: 50px auto;
	text-align: center;
	padding: 78px 150px;
	background: #FFF8F3;
	border-radius: 10px;
}
.info {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}
.info strong {
	font-weight: 700;
	font-size: 19px;
	color: #474747;

} 
.work-sec {
	text-align: center;
	width: 66%;
	margin: 50px auto;
}

.skill-set {
	width: 78%;
	margin: auto;
	display: flex;
	justify-content: space-between;

}
.skill-set div {
	background: #FFFFFF;
	box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
	border-radius: 5px;
	margin-right: 24px;
	padding: 30px;
	transition: .2s ease;
}
.skill-set div p {
	text-align: justify;
	font-size: 16px;
}
.skill-set div img {
	height: 44px;
	text-align: left;
}
/*   Footer style   */
.footer {
	background: #FFF8F3;
	padding: 100px 0;
	margin-top: 50px;
}
.footer i {
	color: #FD6E0A;
	padding: 0;
	transition: 0.2s ease;
}
.inner-footer {
	width: 78%;
	margin: auto;
	display: flex;
	justify-content: space-between;

}
.logo {
	margin-top: 30px;
	padding: 5px;
}
.logo .fa-brands:hover{
    background-color: #FD6E0A;
    color: #fff;
    transform: translateY(-7px);
}
.contact {
	margin-right: 110px;
}
.message {
	margin-left: auto;
}
.message input,textarea {
	display: block;
	width: 461px;
	height: 64px;
	border: none;
	margin-bottom: 25px;
	padding: 30px;
}
textarea {
	height: auto;

}
input:focus,textarea:focus {
	outline: 2px solid #fd6e0a;
}

/*  Effects  */
.under-effect::before {
	content: '';
	height: 3px;
	width: 0;
	background: #fd6e0a;
	display: inline-block;
	position: absolute;
	left: 0;
	top: 120%;
	transition: .5s cubic-bezier(.68,-0.55,.27,1.55);
}
ul li:hover .under-effect::before {
	width: 50%;
	transform: translateX(100%);
}
#text:hover .text-primary {
	background: #fd6e0a;
	color: #FFF;
}
/*button hover effect*/
.effect-btn {
	position: relative;
	z-index: 1;
	transition: color .3s ease;
}
.effect-btn::before {
	content: '';
	width: 0;
	height: 100%;
	position: absolute;
	background: #FFF;
	top: 0;
	left: 0;
	border-radius: 4px;
	transition: .3s ease;
	z-index: -1;
}
a:hover .effect-btn::before {
	width: 100%;
	border: 1px solid #fd6e0a;
}
a:hover .effect-btn{
	color: #fd6e0a;
}
/*card hover effect*/
.power-divs:hover {
	box-shadow: 0px 6px 50px #f7b282;
	transform: scale(1.07);
}